// @mixin mq($range) {
//   $mob: 320px;
//   $tab: 768px;
//   $desk: 1280px;

//   @if $range == mob {
//     @media screen and (min-width: $mob) {
//       @content;
//     }
//   } @else if $range == mob-only {
//     @media (max-width:#{$tab - 0.02}) {
//       @content;
//     }
//   } @else if $range == tab {
//     @media screen and (min-width: $tab) {
//       @content;
//     }
//   } @else if $range == tab-only {
//     @media (min-width:$tab) and (max-width:#{$desk - 0.02}) {
//       @content;
//     }
//   } @else if $range == desk {
//     @media screen and (min-width: $desk) {
//       @content;
//     }
//   } @else if $range == noDesk {
//     @media (max-width:#{$desk - 0.02}) {
//       @content;
//     }
//   } @else if $range == retina {
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (-moz-min-device-pixel-ratio: 2),
//       screen and (-o-min-device-pixel-ratio: 2/1),
//       screen and (-webkit-min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       @content;
//     }
//   }
// }
