.container {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 768px;

    // padding-top: 24px;
    padding-bottom: 192px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;

    padding-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
